header {
  font-size: 25px;
  color:rgb(0,0,255);
  text-align: center;
  }
  
body{
  background-color: burlywood;
  /*background-image:*/ 
}
  

ol {
text-align: left;
color: blue; 
padding: 10px;
}

/* Article Css */
article {
  padding: 10px;
  background-color: azure;
  margin: auto;
  text-align: center;
  width: 100% ;
}

article img{
  display:inline;
  width: 10%;
  height: 10%; 
 }

 .finalImage li{
  display:inline;
  position: relative; 
 }

em {
  color:rgb(0, 0, 10)
}